Repository cov-lineages/pango-designation: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-alias-json, lineages-csv-duplicates, duplicate-lineage-in-notes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: test-alias-json
        name: Test alias_key.json
        entry: python tests/test_alias_json.py
        language: python
        files: pango_designation/alias_key.json
      - id: lineages-csv-duplicates
        name: Test lineages.csv for duplicates
        entry: python tests/test_duplicate_designations.py
        language: python
        files: lineages.csv
      - id: duplicate-lineage-in-notes
        name: Test lineage_notes.txt for duplicate first column entries
        entry: python tests/test_duplicate_lineage_in_notes.py
        language: python
        files: lineage_notes.txt
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint

Add MV alias (MB.1.1.1 = JN.1.1.49.1.1.1)
  pango_designation/alias_key.json
Due: test-alias-json

Fix MC.16,MB.1.1.1，MV.1 Alias Error.
  lineage_notes.txt
Due: duplicate-lineage-in-notes

Update lineage_notes.txt
  lineage_notes.txt
Due: duplicate-lineage-in-notes

Update via Issue Milestone Collector
  scripts/issue-milestone-collector/README.md
  scripts/issue-milestone-collector/data/mappings.json
  scripts/issue-milestone-collector/data/mappings.tsv
  scripts/issue-milestone-collector/github-artifacts/mappings/sars-cov-2-variants_lineage-proposals.json
Due: none

Add KP.2.21
  lineage_notes.txt
Due: duplicate-lineage-in-notes

Fix alias file, thanks @joshuailevy
  pango_designation/alias_key.json
Due: test-alias-json

Fix LW.1.2，LF.8.1.1 Alias
  lineage_notes.txt
Due: duplicate-lineage-in-notes
