Repository cov-lineages/pango-designation: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-alias-json, lineages-csv-duplicates, duplicate-lineage-in-notes

test-alias-json:
  name: Test alias_key.json
  entry: python tests/test_alias_json.py
  language: python

lineages-csv-duplicates:
  name: Test lineages.csv for duplicates
  entry: python tests/test_duplicate_designations.py
  language: python

duplicate-lineage-in-notes:
  name: Test lineage_notes.txt for duplicate first column entries
  entry: python tests/test_duplicate_lineage_in_notes.py
  language: python

Update lineage_notes.txt
  lineage_notes.txt
Due: duplicate-lineage-in-notes

XFP missing from key, update alias_key.json
  pango_designation/alias_key.json
Due: test-alias-json

Storing Pango rules here
  pango_rules.md
Due: none

Rename pango_rules.md to docs/pango_rules.md
  docs/pango_rules.md
Due: none

Create index.html
  docs/index.html
Due: none

Rename index.html to index.md
  docs/index.md
Due: none

Designate NY.17(.1/.2)
  lineage_notes.txt
Due: duplicate-lineage-in-notes

Update lineage_notes.txt (#2984)
  lineage_notes.txt
Due: duplicate-lineage-in-notes

I ve added S:S680P to PC.2.2 defining mutation (#2976)
  lineage_notes.txt
Due: duplicate-lineage-in-notes

Add dependabot to update workflows
  .github/dependabot.yml
Due: none

Broadening NY.7 to just S:T22N; the more restrictive definition is NY.7.1.
  lineage_notes.txt
Due: duplicate-lineage-in-notes

Update version to v1.34 in prep for release.
  pango_designation/__init__.py
Due: none

Fix mistake
  lineage_notes.txt
Due: duplicate-lineage-in-notes

Path conditions:
  test-alias-json: any of: pango_designation/alias_key.json
  lineages-csv-duplicates: any of: lineages.csv
  duplicate-lineage-in-notes: any of: lineage_notes.txt
