Repository cov-lineages/pango-designation: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-alias-json, lineages-csv-duplicates, duplicate-lineage-in-notes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: test-alias-json
        name: Test alias_key.json
        entry: python tests/test_alias_json.py
        language: python
        files: pango_designation/alias_key.json
      - id: lineages-csv-duplicates
        name: Test lineages.csv for duplicates
        entry: python tests/test_duplicate_designations.py
        language: python
        files: lineages.csv
      - id: duplicate-lineage-in-notes
        name: Test lineage_notes.txt for duplicate first column entries
        entry: python tests/test_duplicate_lineage_in_notes.py
        language: python
        files: lineage_notes.txt
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.26
    hooks:
      - id: actionlint

XFG.17.3 : added Orf9b:A82V as defining mutation
  lineage_notes.txt
Due: duplicate-lineage-in-notes

Add to notes which XFG.3 have A28877T, G28878C
  lineage_notes.txt
Due: duplicate-lineage-in-notes

Correct alias for QL
  pango_designation/alias_key.json
Due: test-alias-json

Fix XFG.25 description, thanks @xz-keg
  lineage_notes.txt
Due: duplicate-lineage-in-notes

Add .claude/ to .gitignore
  .gitignore
Due: none

Update lineage_notes.txt
  lineage_notes.txt
Due: duplicate-lineage-in-notes
