Repository cov-lineages/pango-designation: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-alias-json, lineages-csv-duplicates, duplicate-lineage-in-notes, tree-one-lines, check-lineages-notes

test-alias-json:
  name: Test alias_key.json
  entry: python tests/test_alias_json.py
  language: python

lineages-csv-duplicates:
  name: Test lineages.csv for duplicates
  entry: python tests/test_duplicate_designations.py
  language: python

duplicate-lineage-in-notes:
  name: Test lineage_notes.txt for duplicate first column entries
  entry: python tests/test_duplicate_lineage_in_notes.py
  language: python

tree-one-lines:
  name: Test lineages.csv for erroneous tree one lines
  entry: python tests/test_tree_one_lines.py
  language: python

check-lineages-notes:
  name: Check lineages.csv and lineage_notes.txt are in sync
  entry: python utils/check_lineages_notes.py
  language: python

Update lineage_notes.txt with new mutation details
  lineage_notes.txt
Due: duplicate-lineage-in-notes, check-lineages-notes

Update lineage_notes.txt
  lineage_notes.txt
Due: duplicate-lineage-in-notes, check-lineages-notes

Update version to v1.37 in prep for release.
  pango_designation/__init__.py
Due: none

Add branch information to lineage notes
  lineage_notes.txt
Due: duplicate-lineage-in-notes, check-lineages-notes

add_105_autorefs
  automated-issue-ref.ipynb
  autoref/milestone.txt
  autoref/missing_refs.txt
  lineage_notes.txt
Due: duplicate-lineage-in-notes, check-lineages-notes

Update version to v1.38 in prep for release.
  pango_designation/__init__.py
Due: none

XFG.3 fits better as XGV donor than XFV
  lineage_notes.txt
  pango_designation/alias_key.json
Due: test-alias-json, duplicate-lineage-in-notes, check-lineages-notes

Path conditions:
  test-alias-json: any of: pango_designation/alias_key.json
  lineages-csv-duplicates: any of: lineages.csv
  duplicate-lineage-in-notes: any of: lineage_notes.txt
  tree-one-lines: any of: lineages.csv
  check-lineages-notes: any of: ^(lineages\.csv|lineage_notes\.txt)$
